<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            '../vendor/zurb/foundation/dist/foundation.min.css'
            '../vendor/fortawesome/font-awesome/css/font-awesome.min.css'
             %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% javascripts
                '../vendor/components/jquery/jquery.min.js'
                '../vendor/zurb/foundation/dist/foundation.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
            $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>

